header .logo {
  background: url(http://s3.amazonaws.com/churchplantmedia-cms/z2_wildwood_christian_church/logo.png) no-repeat 0 0;
}

header .logo {
  width: 232px;
  height: 80px;
  display: block;
  position: relative;
  top: 13px;
}

@media
(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header .logo {
  background: url(http://s3.amazonaws.com/churchplantmedia-cms/z2_wildwood_christian_church/logo-ret.png) no-repeat 0 0;
  background-size: 232px auto;
}
}

/* BEGIN CSS Overrides by Elliot J. Voris */
/* evoris@wccstl.org */
@media
(max-width: 865px) {
  footer .footer-nav ul {
  display: inline-block;
  width: 100%;
  text-align: center;
}
footer .footer-nav ul li {
  display: inline-block;
  float: none;
  margin-bottom: 25px;
}
}
/* Let me try these colors */
a:focus {
  outline-color: #669900;
}
header #nav li a:hover {
  color: #669900;
}
header #nav li.current a {
  color: #669900;
}
#quicklinks {
  background: #669900;
}
#widgets h4 a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #669900;
}
#side_nav li a:hover {
  color: #669900;
}
#side_nav ul li.current a {
  color: #669900;
}
#side_nav ul li.current li a:hover {
  color: #669900;
}
#side_nav ul li.current li.current a {
  color: #669900;
}
#side_nav .side_nav_level1 li.current {
  position: relative;
  border-bottom: 3px solid #669900;
}
#side_nav .side_nav_level1 li.current:before {
  content: "";
  width: 100%;
  height: 3px;
  top: -28px;
  position: absolute;
  background-color: #669900;
}
footer .footer-nav a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -ms-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #669900;
}
.cms-output input[type="text"]:focus,
.comment-form input:focus,
textarea:focus {
  box-shadow: 0px 0px 4px #66cc00;
}
#widgets h4 a:hover {
  color: #66cc00;
}
footer .footer-nav a:hover {
  color: #66cc00;
}
/* End color adjustments */
a.fancy-button {
  background: #eb5e42;
  color: #f3f3f3;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: "minion-pro", serif;
  font-weight: 400;
  font-size: 19px;
  font-style: italic;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 18px 30px;
}
a.fancy-button:hover {
  background: #f08570;
  background-color: #e23918;
  color: #fff;
}
/* END CSS Overrides by Elliot J. Voris */
/* evoris@wccstl.org */

/* BEGIN kudago/smart-app-banner */
.smartbanner-show {
	margin-top: 80px;
}

.smartbanner-show .smartbanner {
	display: block;
}

/** Default **/
.smartbanner {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-family: 'Helvetica Neue', sans-serif;
	background: #f4f4f4;
	z-index: 9998;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	-webkit-text-size-adjust: none;
}

.smartbanner-container {
	margin: 0 auto;
	white-space: nowrap;
}

.smartbanner-close {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 5px;
	font-family: 'ArialRoundedMTBold', Arial;
	font-size: 20px;
	text-align: center;
	color: #888;
	text-decoration: none;
	border: 0;
	border-radius: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.smartbanner-close:active,
.smartbanner-close:hover {
	color: #aaa;
}

.smartbanner-icon {
	display: inline-block;
	vertical-align: middle;
	width: 57px;
	height: 57px;
	margin-right: 12px;
	background-size: cover;
	border-radius: 10px;
}

.smartbanner-info {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
	font-size: 11px;
	line-height: 1.2em;
	font-weight: bold;
}

.smartbanner-title {
	font-size:13px;
	line-height: 18px;
}

.smartbanner-button {
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #6a6a6a;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.smartbanner-button:active, .smartbanner-button:hover {
	color: #aaa;
}

.smartbanner-button-text {
}

.smartbanner-button-text:active,
.smartbanner-button-text:hover {
}

/** iOS **/
.smartbanner-ios {
	background: #f4f4f4;
	background: linear-gradient(to bottom, #f4f4f4, #cdcdcd);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	line-height: 80px;
}

.smartbanner-ios .smartbanner-close {
	border: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #888;
	text-shadow: 0 1px 0 white;
}

.smartbanner-ios .smartbanner-close:active,
.smartbanner-ios .smartbanner-close:hover {
	color: #aaa;
}

.smartbanner-ios .smartbanner-icon {
	background: rgba(0,0,0,0.6);
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.smartbanner-ios .smartbanner-info {
	color: #6a6a6a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.smartbanner-ios .smartbanner-title {
	color:#4d4d4d;
	font-weight: bold;
}

.smartbanner-ios .smartbanner-button {
	padding: 0 10px;
	min-width: 10%;
	color: #6a6a6a;
	background: #efefef;
	background: linear-gradient(to bottom, #efefef, #dcdcdc);
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #bfbfbf, 0 1px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(255, 255, 255, 0.7) inset;
}

.smartbanner-ios .smartbanner-button:active,
.smartbanner-ios .smartbanner-button:hover {
	background: #dcdcdc;
	background: linear-gradient(to bottom, #dcdcdc, #efefef);
}

.smartbanner-ios .smartbanner-button-text {
}

.smartbanner-ios .smartbanner-button-text:active,
.smartbanner-ios .smartbanner-button-text:hover {
}

/** Android **/
.smartbanner-android {
	background: #3d3d3d url(data:image/gif;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7);
	box-shadow: inset 0 4px 0 #88B131;
	line-height: 82px;
}

.smartbanner-android .smartbanner-close {
	border: 0;
	width: 17px;
	height: 17px;
	line-height: 17px;
	margin-right: 7px;
	color: #b1b1b3;
	background: #1c1e21;
	text-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.3);
}

.smartbanner-android .smartbanner-close:active,
.smartbanner-android .smartbanner-close:hover {
	color: #eee;
}

.smartbanner-android .smartbanner-icon {
	background-color: transparent;
	box-shadow: none;
}

.smartbanner-android .smartbanner-info {
	color:#ccc;
	text-shadow:0 1px 2px #000;
}

.smartbanner-android .smartbanner-title {
	color:#fff;
	font-weight: bold;
}

.smartbanner-android .smartbanner-button {
	min-width: 12%;
	color: #d1d1d1;
	padding: 0;
	background: none;
	border-radius: 0;
	box-shadow: 0 0 0 1px #333, 0 0 0 2px #DDDCDC;
}

.smartbanner-android .smartbanner-button:active,
.smartbanner-android .smartbanner-button:hover {
	background: none;
}

.smartbanner-android .smartbanner-button-text {
	text-align: center;
	display: block;
	padding: 0 10px;
	background: #42B6C9;
	background: linear-gradient(to bottom, #42B6C9, #39A9BB);
	text-transform: none;
	text-shadow: none;
	box-shadow: none;
}

.smartbanner-android .smartbanner-button-text:active,
.smartbanner-android .smartbanner-button-text:hover {
	background: #2AC7E1;
}

/** Windows **/
.smartbanner-windows {
	background: #f4f4f4;
	background: linear-gradient(to bottom, #f4f4f4, #cdcdcd);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	line-height: 80px;
}

.smartbanner-windows .smartbanner-close {
	border: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	color: #888;
	text-shadow: 0 1px 0 white;
}

.smartbanner-windows .smartbanner-close:active,
.smartbanner-windows .smartbanner-close:hover {
	color: #aaa;
}

.smartbanner-windows .smartbanner-icon {
	background: rgba(0,0,0,0.6);
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.smartbanner-windows .smartbanner-info {
	color: #6a6a6a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.smartbanner-windows .smartbanner-title {
	color:#4d4d4d;
	font-weight: bold;
}

.smartbanner-windows .smartbanner-button {
	padding: 0 10px;
	min-width: 10%;
	color: #6a6a6a;
	background: #efefef;
	background: linear-gradient(to bottom, #efefef, #dcdcdc);
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #bfbfbf, 0 1px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(255, 255, 255, 0.7) inset;
}

.smartbanner-windows .smartbanner-button:active,
.smartbanner-windows .smartbanner-button:hover {
	background: #dcdcdc;
	background: linear-gradient(to bottom, #dcdcdc, #efefef);
}

.smartbanner-windows .smartbanner-button-text {
}

.smartbanner-windows .smartbanner-button-text:active,
.smartbanner-windows .smartbanner-button-text:hover {
}
/* END kudago/smart-app-banner */
